---
import retro from '../images/image-retro-pcs.jpg'
import laptop from '../images/image-top-laptops.jpg'
import gaming from '../images/image-gaming-growth.jpg'
import ArticleCard from "./ArticleCard.astro"

const cardInfo = [
    { 
        cardImg : retro,
        number: '01',
        title: 'Reviving Retro PCs',
        desc : 'What happens when old PCs are given modern upgrades?'

    },
    { 
        cardImg : laptop,
        number: '02',
        title: 'Top 10 Laptops of 2022',
        desc : 'Our best picks for various needs and budgets.'

    },
    { 
        cardImg : gaming,
        number: '03',
        title: 'The Growth of Gaming',
        desc : 'How the pandemic has sparked fresh opportunities.'

    },
]
---

<section class="grid desktop:grid-cols-3 gap-8 mb-20">
    {
        cardInfo.map(item => (
            <ArticleCard cardImg={item.cardImg} number={item.number} title={item.title} desc={item.desc} />
        ))
    }
</section>